

<h1>My Notes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="notes">
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  </tbody>
</table>
<br>
<div style="text-align: center">
  <%= will_paginate @notes, renderer: BootstrapPagination::Rails, :is_active => true %>
</div>


<%= link_to 'New Note', new_note_path, class: 'btn btn-success', remote: true %>
