<h1>Users</h1>

<table class="table">
  <thead>
  <tr>
    <th>E-mail</th>
    <th>Registered at</th>
    <th>Admin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody id="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
  </tbody>
</table>